.dashboardheader
{
    text-align:center;
    background-color:#005cb2;
    font-family: 'Roboto';
}
.dashboardtitle
{
    margin-top:1px;
    color: white;   
}
.dasboardnavigationdiv
{
    margin-top:-8px;
}
nav
{
   background-color: #1e88e5;
   font-family: 'Roboto';
}
nav a 
{
    font-size: 20px;
    color:white;
    padding:10px;
}
.headings
{
color:#03345f !important;
}
.subheadings
{
color:#09579c !important;
}